managed/.vs/managed/FileContentIndex/0e5f07b9-b3c0-4cbe-af53-a885086d03bc.vsidx
*.vsidx
/StockManager/packages
/StockManager/StockManager/bin
/StockManager/StockManager/obj
/StockManager/.vs
/StockManager/StockManager/Properties
/StockManager/StockManager/.vs
StockManagement/.vs/StockManagement/v17/.suo
/StockManagement/obj
/StockManagement/packages
/StockManagement/Properties
/StockManagement/bin
/StockManagement/.vs
